#!/bin/bash

# =====================
# Environment Variables
# =====================

# -------------
# Library Paths
# -------------

# Go Path
export GOPATH=$HOME/code/go/bin
export PATH="$GOPATH:$PATH"
# GPG TTY Path
export GPG_TTY=$(tty)
# Postgres
export POSTGRES_PATH=/Applications/Postgres.app/Contents/Versions/latest/bin
export PATH="$POSTGRES_PATH:$PATH"
# uv / Python
export UV_PATH="$HOME/.local/bin"
export CONDA_PATH="$HOME/miniconda3/bin"
export PATH="$UV_PATH:$CONDA_PATH:$PATH"
# Cargo / Rust
export CARGO_PATH="$HOME/.cargo/bin"
export PATH="$CARGO_PATH:$PATH"
# Android Studio / React Native
export ANDROID_HOME=$HOME/Library/Android/sdk
export ANDROID_PATH=$ANDROID_PATH:$ANDROID_HOME/emulator
export ANDROID_PATH=$ANDROID_PATH:$ANDROID_HOME/tools
export ANDROID_PATH=$ANDROID_PATH:$ANDROID_HOME/tools/bin
export ANDROID_PATH=$ANDROID_PATH:$ANDROID_HOME/platform-tools
export PATH="$ANDROID_PATH:$PATH"
# Fastlane
export FASTLANE_PATH="$HOME/.fastlane/bin"
export PATH="$FASTLANE_PATH:$PATH"
# Java Home
export JAVA_HOME=/Library/Java/JavaVirtualMachines/zulu-17.jdk/Contents/Home
# Composers Desktop https://www.composersdesktop.com/docs/htmltuts/cdpsys/cmas1cdp.htm
export CDPR_PATH="$HOME/cdpr8/_cdp/_cdprogs"
export PATH=CDPR_PATH:$PATH
# Added by LM Studio CLI (lms)
export PATH="$PATH:$HOME/.lmstudio/bin"
# End of LM Studio CLI section

# --------------
# Configurations
# --------------

# This variable configures git to not require a message when you merge.
export GIT_MERGE_AUTOEDIT='no'

# Editors
# Tells your shell that when a program requires various editors, use vscode.
export VISUAL="code -w"
export SVN_EDITOR="code -w"
export GIT_EDITOR="code -w"
export EDITOR="code -w"

# -----
# Paths
# -----

# The USR_PATHS variable will just store all relevant /usr paths for easier usage
# Each path is seperate via a : and we always use absolute paths.
# A bit about the /usr directory
# The /usr directory is a convention from linux that creates a common place to put
# files and executables that the entire system needs access too. It tries to be user
# independent, so whichever user is logged in should have permissions to the /usr directory.
# We call that /usr/local. Within /usr/local, there is a bin directory for actually
# storing the binaries (programs) that our system would want.
# Also, Homebrew adopts this convetion so things installed via Homebrew
# get symlinked into /usr/local
export USR_PATHS="/usr/local:/usr/local/sbin"
export PATH="$USR_PATHS:$PATH"

export OPT_PATH="/opt"
export PATH="$OPT_PATH:$PATH"

# ARM Macs use /opt
# brew now uses this convention and requires initialization via the following line:
eval "$(/opt/homebrew/bin/brew shellenv)"
